<!DOCTYPE html>
<html>
<head>
    <title>lab10</title>
    <link rel = "stylesheet" href="/public/site.css">
</head>
<body>
    {{{body}}}
<footer>
    <p class = "foot">Sharan Jotwani | 10429842</p>
</footer>
</body>

</html>